@keyframes fade {
    from {
        opacity: 0;
        transform: scale(.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes move {
    from {
        opacity: 0;
        transform: translateX(-35%);
    }
    to {
        opacity: 1;
        transform: translateX(0%);
    }
}

.fade-animation {
    animation: fade 500ms;
}

.move-animation {
    animation: move 500ms;
    animation-fill-mode: backwards;
}

.animation-delay-150ms {
    animation-delay: 150ms;
}

.animation-delay-250ms {
    animation-delay: 250ms;
}

@keyframes squares {
    0% {
        transform: translateY(0px) scale(.7);
        opacity: .2;
    }

    50% {
        transform: translateY(-50vh) scale(1) rotate(180deg);
        opacity: 1;
    }

    100% {
        transform: translateY(-100vh) scale(.7);
        opacity: .2;
    }
}

#background-squares-animation {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100vh;
    width: 100vw;
    z-index: -10;
    overflow: hidden;
}

#background-squares-animation div {
    animation-name: squares;
    animation-duration: 15s;
    animation-fill-mode: backwards;
    animation-iteration-count: infinite;
    position: relative;
    background-color: rgba(255, 255, 255, .15);
}

@keyframes load {
    0% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }
    20% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    }
    38% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    }
    100% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
}

@keyframes round {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
}

.load-animation {
    animation: load 1.7s infinite ease, round 1.7s infinite ease;
}